@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --color-primary-red: hsl(0, 100%, 74%);
    --color-primary-green :hsl(154, 59%, 51%);
    --color-accent-blue: hsl(248, 32%, 49%);
}

body{
    font-size: 1rem;
    background: #FF7978 url('images/bg-intro-desktop.png');
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* START CODE OF LEFT OF THE PAGE  */

#left-container
{
    grid-column: 1;
    color:white;
}

/* END CODE OF LEFT OF THE PAGE  */
main{
    display:grid;
    justify-items:center;
    align-items:center;
    grid-template-columns:1fr 1fr;
    width:1440px;
    height:100vh;
}