@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --color-primary-red: hsl(0, 100%, 74%);
    --color-primary-green :hsl(154, 59%, 51%);
    --color-accent-blue: hsl(248, 32%, 49%);
    --color-neutral-dark-blue: hsl(249, 10%, 26%) ;
    --color-neutral-grayish-blue: hsl(246, 25%, 77%) ;
}
body{
    font-size: 1rem;
    background: var(--color-primary-red) url('images/bg-intro-desktop.png');
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    font-size:3.125rem;
}
main{
    margin: auto;
    margin-bottom:40px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    width: 1440px;
    height:100vh;
}
/* START CODE OF LEFT OF THE PAGE  */
#left-container
{
    grid-column: 1;
    color: white;
}
/* Container Right Div */
#right-container{
    display:flex;
    flex-direction:column;
}

/* Form div */
#bottom{
    background-color:white;
    border-radius: 6px;
    padding:30px;
    box-shadow:0px 6px 0px rgb(0 0 0 / 15%)
}

/* Form */
#top{
    display:flex;
    margin-bottom:18px;
    align-items: center;
    justify-content: center;
    color:white;
    background-color:var(--color-accent-blue);
    border-radius:8px;
    box-shadow:0px 6px 0px rgb(0 0 0 / 15%)
}
form{
    display:flex;
    font-weight:700;
    gap:22px;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
form input{
    font-weight:700;
    box-sizing:border-box;
    padding:15px;
    border:1px solid rgb(235, 235, 235);
    border-radius:5px;
}
input::placeholder{
    font-weight:700;
}
.btn-submit{
    display:block;
    text-transform: uppercase;
    padding:15px 35px;
    color:white;
    border:none;
    background-color:var(--color-primary-green);
    box-shadow:inset 0px -3px rgba(0, 0, 0, 15%);
}
.btn-submit:hover{
    background-color:rgba(56, 204, 140, 0.65);
    cursor:pointer;
}
.right-footer{
    text-align:center;
    font-size: 10px;
    color:rgb(143, 143, 143);
}
.right-footer a{
    text-decoration: none;
    font-weight:bold;
    color:var(--color-primary-red);
}

@media all and (max-width:415px){
    main{
        display:grid;
        grid-template-columns: 1fr;
        width:90%;
        padding:0;
        margin-bottom:10%;
    }

    h1{
        font-size:2rem;
    }

    #left-container{
        text-align: center;
        padding:10px;
    }

    #right-container{
        width:100%;
    }

    #top{
        padding:25px;
        text-align:center;
        height:auto;
        margin-bottom:40px;
    }

    .try{
        width:200px;
    }
form{
    width:100%;
}
    form input{
    padding-right:25%;
    }
    .btn-submit{
        padding: 15px 17.2%;
    }
}